@CHARSET "ISO-8859-1";


body 
{ 
scrollbar-face-color:40FF40; 
scrollbar-shadow-color:40FF40; 
scrollbar-3dlight-color:40FF40; 
scrollbar-arrow-color:683451; 
scrollbar-base-color:40FF40; 
scrollbar-track-color:40FF40; 
scrollbar-darkshadow-color:40FF40; 
scrollbar-highlight-color:683451; 
scrollbar-shadow-color:40FF40; 
} 
