<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Neighbourhood</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewUser</display-name>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>com.neighbourhood.user.NewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendLoginDetails</display-name>
    <servlet-name>SendLoginDetails</servlet-name>
    <servlet-class>com.neighbourhood.user.SendLoginDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendLoginDetails</servlet-name>
    <url-pattern>/SendLoginDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.neighbourhood.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.neighbourhood.logout.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.neighbourhood.user.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InviteNeighbour</display-name>
    <servlet-name>InviteNeighbour</servlet-name>
    <servlet-class>com.neighbourhood.neighbours.InviteNeighbour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteNeighbour</servlet-name>
    <url-pattern>/InviteNeighbour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Search functionality</description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.neighbourhood.search.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>com.neighbourhood.neighbours.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NeighbourEvent</display-name>
    <servlet-name>NeighbourEvent</servlet-name>
    <servlet-class>com.neighbourhood.event.NeighbourEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeighbourEvent</servlet-name>
    <url-pattern>/NeighbourEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyMessage</display-name>
    <servlet-name>ReplyMessage</servlet-name>
    <servlet-class>com.neighbourhood.message.ReplyMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyMessage</servlet-name>
    <url-pattern>/ReplyMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNeighbourEvent</display-name>
    <servlet-name>EditNeighbourEvent</servlet-name>
    <servlet-class>com.neighbourhood.event.EditNeighbourEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNeighbourEvent</servlet-name>
    <url-pattern>/EditNeighbourEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusReply</display-name>
    <servlet-name>UpdateStatusReply</servlet-name>
    <servlet-class>com.neighbourhood.status.UpdateStatusReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusReply</servlet-name>
    <url-pattern>/UpdateStatusReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLocation</display-name>
    <servlet-name>UpdateLocation</servlet-name>
    <servlet-class>com.neighbourhood.user.UpdateLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocation</servlet-name>
    <url-pattern>/UpdateLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpLoadImage</display-name>
    <servlet-name>UpLoadImage</servlet-name>
    <servlet-class>com.neighbourhood.imageUpload.UpLoadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpLoadImage</servlet-name>
    <url-pattern>/UpLoadImage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>SendFeedbackMember</display-name>
    <servlet-name>SendFeedbackMember</servlet-name>
    <servlet-class>com.neighbourhood.feedback.SendFeedbackMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFeedbackMember</servlet-name>
    <url-pattern>/SendFeedbackMember</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SendFeedbackNonMember</display-name>
    <servlet-name>SendFeedbackNonMember</servlet-name>
    <servlet-class>com.neighbourhood.feedback.SendFeedbackNonMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFeedbackNonMember</servlet-name>
    <url-pattern>/SendFeedbackNonMember</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ChangeUserPassword</display-name>
    <servlet-name>ChangeUserPassword</servlet-name>
    <servlet-class>com.neighbourhood.user.ChangeUserPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserPassword</servlet-name>
    <url-pattern>/ChangeUserPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetProfilePic</display-name>
    <servlet-name>SetProfilePic</servlet-name>
    <servlet-class>com.neighbours.imageUpload.SetProfilePic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetProfilePic</servlet-name>
    <url-pattern>/SetProfilePic</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
			C:\git\projects\Neighbourhood\Neighbourhood\WebContent\images_users\
	     </param-value>
  </context-param>
</web-app>